body {
    margin: 0;
    overflow-x: hidden;
  }
  .hostone-image-container {
    background-image:
      linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%),
      url("./images/host3.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 200vh;
    background-size: cover;
    position: relative;
  }

  .navigation-bar {
    position: absolute;
    top: 85vh;
    left: 110vh;
    display: flex;
    gap: 2vh;
    background-color: rgb(9,10,10);
    padding: 2.1vh;
    border-radius: 5vh;
    margin-left: -50vh;
  }
  .navigation-bar a {
    text-decoration: none;
    color: white;
    font-size: 2.1vh;
    font-weight: bold;
  }
  .reservations-container {
    background-color: rgb(115,115,115);
    padding: 1.5vh;
    border-radius: 5vh;
    margin-top: -0.9vh;
  }
  .reservations-container:hover {
    background-color: white;
    color: black;
  }
  .reservations-container a:hover {
    color: black;
  }
  #home {
    background-color: rgb(39, 38, 38);
    padding: 1.2vh;
    margin-top: -0.9vh;
  }
  #home:hover {
    background-color: rgb(9,10,10);
  }
  .navigation-icons svg {
    color: white;
    font-size: 20vh;
  }
  .clock-icon {
    position: relative;
    display: block;
  }
  .text-wrapper {
    display: inline-block;
    position: absolute;
    color: black;
    background-color: white;
    padding: 2%;
    border: none;
    width: 15vw;
    border-radius: 20px;
    z-index: 1;
    display: none;
    bottom: 230%;
    padding: 3vh;
  }
  .clock-icon:hover .text-wrapper {
    display: block;
  }
  .whatsapp-icon {
    position: absolute;
    right: 10vh;
    bottom: 5vh;
  }
  .fa-whatsapp {
    color: white;
    font-size: 7vh;
  }