body{
    overflow-y: hidden;
    overflow-x: hidden;
    width:100%;
    margin: 0;
}
form{
    width:100%;
    padding: 60px;
    background-color: black;
    box-sizing: border-box;
    margin-top: 100px;
    margin-top: 0px;
  }
  input:hover{
    border: 2.5px solid rgb(9, 231, 9);
  }
  input{
    padding:16px 12px;
    width:180%;
    margin:5px 0;
}
label{
    color: white;
    font-size: 20px;
}
#logo{
    width:150px;
    margin-left: 87px;
}
button{
    border:1px solid;
    padding:15px 8px;
    cursor: pointer;
    font-size: 20px;
    width: 190%;
    height: 50px;
    background-color:rgb(248, 183, 194);
    border-radius: 20px;
}
select{
    padding:16px 12px;
    width:190%;
    margin:5px 0;
    border: 5px;
    border: solid 1px;
}
.reservations img{
width:980px;
height: 955px;
position:relative;
}
.reservation{
    display: flex;
    gap:50px;
    background-color: black;
}
.yolla{
    position:absolute;
    left: 40vh;
    top: 20vh;
    font-size: 30px;
}
.yolla p{
    margin-top:160px;
    margin-left: 50px;
}
#karibu{
    color:white;
    font-size: 50px;
}
#reserve{
    color:rgb(240, 13, 13);
    font-size: 60px;
    margin-top:-50px;
   margin-left: 5px;
}
#body {
    background-image: url('https://images.pexels.com/photos/1133957/pexels-photo-1133957.jpeg?cs=srgb&dl=pexels-philippedonn-1133957.jpg&fm=jpg');
    background-size: cover;
    height: 10vh;
    font-size: 15px;
}
.contacts{
    max-width: 700px;
    max-height: 500px;
    margin: auto;
    padding: 60px 20px;
    display: flex;
    gap:30px;
}
.kitisuru{
    border:1px solid white;
    padding: 35px;
    margin-bottom: 30px;
    background-color: rgba(66, 63, 63, 0.6);
    color: white;
    width:800px;
}
#kiti{
    height:290px;
    width:1050px;
}
#kili{
    width:1050px;
    padding: 40px;
}
.kitisuru h2{
    font-size: 28px;
    margin-bottom: 10px;
}
.kitisuru a{
    color:#ddd;
    text-decoration: none;
    color: white;
}
#log{
    width:150px;
    margin-left: 857px;
    margin-top: 120px;
}
nav{
    display: flex;
    color: white;
    position: absolute;
    margin-top: 80vh;
    margin-left: 40vh;
}
nav ul{
    display: flex;
    list-style: none;
    gap:40px;
    margin:0 auto;
    font-size: 25px;
    background-color: black;
    padding: 15px;
    border-radius: 55px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(245, 238, 238);
}
nav ul li i{
    margin-top: 0px;
}
nav i{
margin-left: 40px;
}
nav svg i{
    font-size: 30px;
    width:10vh;
    height:1.9vh;
}
#reserved{
    background-color:gray;
    padding: 10px;
    border-radius: 30px;
    margin-top: -1vh;
}
#reserved:hover{
    background-color: white;
    color:black;
}
#reserved a:hover{
    color:black;
}
.homePage{
    position: relative;
}
.image img{
    width:180px;
    margin-left: 100px;
    margin-top: 110px;
}
.image h1{
    color:gray;
    font-size: 100px;
    margin-left: 100px;
}
.image{
    width:100%;
     height: 99vh;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
     position: absolute;
    animation: animate 20s  infinite forwards;
    opacity: 0;
}
.image:nth-child(1){
    background-image: url('./images/first.jpg'); .leggae img{
        width: 35px;
    }
    animation-delay: 0s;
}
.image:nth-child(2){
    background-image: url('./images/discover-image\ \(1\).jpg');
    animation-delay: 3s;
}
.image:nth-child(3){
    background-image: url('./images/experience-image.jpg');
    animation-delay: 6s;
}
.image:nth-child(4){
    background-image: url('./images/taste.jpg');
    animation-delay: 9s;
}
.image:nth-child(5){
    background-image: url('./images/savour.jpg');
    animation-delay: 12s;
}
@keyframes animate{
   0%{opacity: 0;}
   10%{opacity:1;}
   30%{opacity:1;}
   40%{opacity:100;}
   100%{opacity:100;}
}
.socialIcons{
    font-size: 40px;
    position: relative;
    text-align: end;
    color: whitesmoke;
}
.whatsapp{
    font-size: 40px;
    color: white;
    position: relative;
    background-color: black;
    margin-top: 750px;
    width: 4.5vh;
    margin-left: 1800px;
}
.hours{
    background-color: white;
    box-shadow: 10px 0px 10px  0px;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin:0 auto;
}
.svg{
    position: relative;
    display: block;
    margin-top: 0.4%;
}
.svg:hover{
    background-color: white;
    color: black;
}
.text-wrapper{
    display: inline-block;
    position: absolute;
    color: black;
    background-color: white;
    padding:3vh;
    border: none;
    width:30vh;
    border-radius: 20px;
    z-index:1;
    display: none;
    bottom:100px;
}
.svg:hover .text-wrapper{
    display: block;
}
.live{
        overflow: scroll;
        color:black;
        margin-left: 1100px;
    }
    .live img{
        width:400px;
    }
    .performers{
        display: flex;
    }
    .paragraph{
        color:orange;
    }
    #acoustic{
      margin-right: 2000vh;
      margin-top: -35vh;
    }
    .reviewee img{
    width:150px;
    margin-left: 827px;
    margin-top: 190px;
    }
#right{
font-size: 89px;
color:rgb(179,66,21);
margin-left:130vh;
}
.review p,h1{
    text-align: center;
}
#left{
    margin-left:55vh;
    font-size: 89px;
    color:rgb(179,66,21);
}
#arrow1{
font-size: 10vh;
color: gray;
margin-right: 300px;
}
#arrow2{
    font-size: 10vh;
    color: gray;
    margin-left: 1700px;
}
    .picture img{
            width:180px;
            margin-left: 100px;
            margin-top: 110px;
            position: absolute;
        }
        .socials{
            font-size: 40px;
            color: white;
            margin-left: 1700px;
            position: fixed;
        }
    .accra{
        background-image: url('./images/acrra.jpg');
        background-size: cover;
        height: 99.9vh;
        width:700px;
        }
    .zanzibar{
        background-image: url('./images/decor.jpg');
        background-size: cover;
        height: 99.9vh;
        width:700px;
        }
    .decor{
        background-image: url('./images/zanzibar.jpg');
        background-size: cover;
        height: 99.9vh;
       width:700px;
        }
        .events{
            display: flex;
            position: relative;
        }
        .events img{
            position: absolute;
            margin-left:80vh;
            width: 300px;
        }
        .app{
            font-size: 40px;
            color: white;
            position: absolute;
            background-color: black;
            margin-top: -18vh;
            width: 4.5vh;
            margin-left: 1790px;
        }
        .head ul{
            display: flex;
            list-style: none;
            gap:40px;
            font-size: 25px;
            background-color: black;
            padding: 15px;
            border-radius: 55px;
            position: relative;
            margin-top: -100vh;
            height:50px;
        }